<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XMCountdownButtonView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27A5D34E1E5FD4A9000BD649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27A5D3671E5FD4A9000BD649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27A5D3721E5FD4A9000BD649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
